$inner-padding: 0.75rem;

h1 {
    margin: 0;
    text-align: center;
}
h2 {
    margin: 0;
    padding: 0.2em $inner-padding;
    background-color: #f3f3f3;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #ccc;
}
p {
    margin: 0;
}

.image {
    width: 1em;
    max-height: 1em;
    font-size: 10em;
}

.info {
    margin: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
    }
}

.contacts {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5em;

    a > img {
        margin: 0 0.2em;
        filter: grayscale(1);
        opacity: 0.25;
        height: 1em;

        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}

.items {
    display: flex;
    flex-direction: column;
    width: 100%;

    .item {
        display: grid;
        padding: 0.5em $inner-padding;
        width: 100%;

        * {
            align-self: center;
        }

        .title {
            font-weight: bold;
            font-size: 1.2em;
        }
        .subtitle {
            color: #999;
            font-size: 0.75em;
            font-weight: lighter;
        }

        .location,
        .date {
            justify-self: end;
            text-align: right;
        }

        .detail {
            padding: 0 1em;
        }

        &:hover {
            background-color: #eee;
        }
    }

    .item_simple {
        margin: 0;
    }
}

.item_rich {
    .title {
        grid-area: 1 / 1 / 2 / 2;
    }
    .subtitle {
        grid-area: 2 / 1 / 3 / 2;
    }
    .location {
        grid-area: 1 / 2 / 2 / 3;
    }
    .date {
        grid-area: 2 / 2 / 3 / 3;
    }
    .detail {
        grid-area: 3 / 1 / 4 / 3;
    }
}
.item_normal {
    .title {
        grid-area: 1 / 1 / 2 / 2;
    }
    .date {
        grid-area: 1 / 2 / 2 / 3;
    }
    .detail {
        grid-area: 2 / 1 / 3 / 3;
    }
}
