@use 'components';
$width-threshold: 82em;

* {
    box-sizing: border-box;
    transition: all 0.3s;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    background: url(../img/background.jpg);
    background-size: cover;
    background-attachment: fixed;

    header {
        position: sticky;
        top: 0;
        padding: 0.5em 0.25em 0.25em 0.25em;
        width: 100%;
        background: linear-gradient(white, #eee);
        box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
        border-bottom: solid thin white;
        z-index: 1;

        img {
            height: 2em;
        }
    }

    #page {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 13em 0 5em 0;

        main {
            flex-grow: 1;
            max-width: 70em;
        }
        aside {
            flex-grow: 0;
            position: sticky;
            top: 2em;
            margin-left: 2em;
            width: max-content;
            max-width: 8em;
            height: max-content;

            h1 {
                margin-bottom: 0.5em;
            }

            a {
                padding: 0.5em;
                width: 100%;

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }

    footer {
        padding: 0.5em 0;
        width: 100%;
        color: white;
        text-align: center;
        font-size: 0.75em;
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-radius: 0.7em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    background-color: white;
}

@media (max-width: $width-threshold) {
    body {
        background: white;
        #page {
            padding: 1em 0;
            main {
                padding: 0;
                width: 100%;
                box-shadow: none;
            }
            aside {
                display: none;
            }
        }
        footer {
            background: black;
        }
    }
}
