h1 {
  margin: 0;
  text-align: center;
}

h2 {
  margin: 0;
  padding: 0.2em 0.75rem;
  background-color: #f3f3f3;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #ccc;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
a:hover {
  opacity: 1;
}

.icon {
  filter: grayscale(1);
  opacity: 0.25;
}
.icon:hover {
  filter: grayscale(0);
  opacity: 1;
  background-color: white;
  border-radius: 0.25em;
}

.image {
  width: 1em;
  max-height: 1em;
  font-size: 10em;
}

.info {
  margin: 0.5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.info * {
  padding: 0.25em 0.5em;
  border-right: dotted thin gray;
}
.info *:last-child {
  border-right: none;
}

.contacts {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
}
.contacts a > img {
  margin: 0 0.2em;
  height: 1em;
}

.items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.items .item {
  display: grid;
  padding: 0.5em 0.75rem;
  width: 100%;
  border-bottom: dotted thin #aaa;
}
.items .item:last-child {
  border-style: none;
}
.items .item * {
  align-self: center;
}
.items .item .title {
  font-weight: bold;
  font-size: 1.2em;
}
.items .item .title a {
  vertical-align: middle;
}
.items .item .title a img {
  margin-left: 0.5em;
  height: 1em;
  width: 1em;
}
.items .item .subtitle {
  color: #999;
  font-size: 0.75em;
  font-weight: lighter;
}
.items .item .location {
  justify-self: end;
  text-align: right;
  font-weight: bold;
}
.items .item .date {
  justify-self: end;
  color: #aaa;
  text-align: right;
  font-size: 0.75em;
}
.items .item .detail {
  padding: 0.3em 0 0 1em;
}
.items .item:hover {
  background-color: #eee;
}
.items .item_simple {
  margin: 0;
}

.item_rich {
  grid-template-columns: 1fr max-content;
}
.item_rich .title {
  grid-area: 1/1/2/2;
}
.item_rich .subtitle {
  grid-area: 2/1/3/2;
}
.item_rich .location {
  grid-area: 1/2/2/3;
}
.item_rich .date {
  grid-area: 2/2/3/3;
}
.item_rich .detail {
  grid-area: 3/1/4/3;
}

.item_normal {
  grid-template-columns: 1fr max-content;
}
.item_normal .title {
  grid-area: 1/1/2/2;
}
.item_normal .date {
  grid-area: 1/2/2/3;
}
.item_normal .detail {
  grid-area: 2/1/3/3;
}

@media (max-width: 82em) {
  .items .item .location {
    display: none;
  }
  .items .item .date {
    justify-self: start;
    color: #aaa;
    text-align: left;
    font-size: 0.75em;
    font-weight: lighter;
  }
  .items .item .subtitle {
    color: inherit;
    font-size: 0.75em;
    font-weight: lighter;
  }

  .item_rich {
    grid-template-columns: 1fr;
  }
  .item_rich .date {
    grid-area: 1/1/2/2;
  }
  .item_rich .title {
    grid-area: 2/1/3/2;
  }
  .item_rich .subtitle {
    grid-area: 3/1/4/2;
  }
  .item_rich .detail {
    grid-area: 4/1/5/2;
  }

  .item_normal {
    grid-template-columns: 1fr;
  }
  .item_normal .date {
    grid-area: 1/1/2/2;
  }
  .item_normal .title {
    grid-area: 2/1/3/2;
  }
  .item_normal .detail {
    grid-area: 3/1/4/3;
  }
}
* {
  box-sizing: border-box;
  transition: all 0.3s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-items: center;
  background: url(../img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
body .loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 1.25em;
  font-weight: bold;
  background: white url(../img/loading.svg) center no-repeat;
  z-index: 2;
}
body header {
  position: sticky;
  top: 0;
  padding: 0.5em 0.25em 0.25em 0.25em;
  width: 100%;
  background: linear-gradient(white, #eee);
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.3);
  border-bottom: solid thin white;
  z-index: 1;
}
body header img {
  height: 2em;
}
body #page {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13em 0 5em 0;
}
body #page main {
  flex-grow: 1;
  max-width: 70em;
}
body #page aside {
  flex-grow: 0;
  position: sticky;
  top: 2em;
  margin-left: 2em;
  width: max-content;
  max-width: 8em;
  height: max-content;
}
body #page aside h1 {
  margin-bottom: 0.5em;
}
body #page aside a {
  padding: 0.5em;
  width: 100%;
}
body #page aside a:hover {
  background-color: #eee;
}
body footer {
  padding: 0.5em 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 0.75em;
  background-color: rgba(0, 0, 0, 0.7);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  border-radius: 0.7em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media (max-width: 82em) {
  body {
    background: white;
  }
  body #page {
    padding: 1em 0;
  }
  body #page main {
    padding: 0;
    width: 100%;
    box-shadow: none;
  }
  body #page aside {
    display: none;
  }
  body footer {
    background: black;
  }
}

/*# sourceMappingURL=newindex.css.map */
