<!DOCTYPE html>
<html lang="zh-Hans">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="杨子涵，Yang.Zihan@columbia.edu，+1(646)919-3375。哥伦比亚大学在读MSEE，电子科技大学工学学士。掌握C、Python、Java、PHP、HTML/CSS、JavaScript、SQL、Matlab、Verilog、VHDL语言，和Git、MySQL、Modelsim、Camera 4D、Adobe等软件操作。开发过多个实践项目，包括物联网、大数据、在线教育、创意实验等。"
        />
        <title>个人简历 - 元卅馆</title>
        <link rel="stylesheet" media="screen" href="css/newindex.css" />
        <link rel="shortcut icon" href="favicon.svg" type="image/svg+xml" />
        <script
            src="https://kit.fontawesome.com/d0b7ea6fca.js"
            onerror="alert('Font-awesome 资源无法访问，您的浏览可能出现异常。\n如有需要，请挂载VPN后重试。');"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <!-- <header>
            <div class="logo">
                <img src="/favicon.svg" alt="" />
            </div>
        </header> -->
        <div id="page">
            <transition name="fade">
                <div class="loading" v-show="!done">
                    <p>正在加载</p>
                    <p>Laoding</p>
                </div>
            </transition>
            <main class="card" v-show="done">
                <img class="image" src="img/icon.png" alt="" />
                <h1>{{personal.name}}</h1>
                <div class="info">
                    <a class="email" href="mailto:{{ personal.email }}">
                        {{ personal.email }}
                    </a>
                    <div class="info_phone">
                        {{ personal.phone }}
                    </div>
                    <div class="info_address">
                        {{ personal.address }}
                    </div>
                </div>
                <div class="contacts">
                    <a v-for="link of links" :href="link.url">
                        <img class="icon" :src="'img/icons/'+link.icon+'.svg'" alt="" />
                    </a>
                </div>
                <section class="items" v-for="(exp, index) in experience" :id="'sec'+index">
                    <h2>{{ exp.title }}</h2>
                    <div
                        v-for="item in exp.contents"
                        :class="['item',item.subtitle? 'item_rich' : (item.name ? 'item_normal' : 'item_simple')]"
                    >
                        <div class="title" v-if="item.name">
                            {{ item.name }}
                            <a v-for="link in item.link" :href="link.url">
                                <img
                                    class="icon"
                                    v-if="link.icon"
                                    :src="'img/icons/'+link.icon+'.svg'"
                                    alt="图标"
                                />
                                <span v-else>{{link.text}}</span>
                            </a>
                        </div>
                        <div class="subtitle" v-if="item.subtitle">{{ item.subtitle }}</div>
                        <div class="location" v-if="item.subtitle">{{ item.position }}</div>
                        <div class="date" v-if="item.name">
                            {{ item.dateFrom }} {{item.dateTill ? '-' : ''}} {{ item.dateTill }}
                        </div>
                        <div class="detail">
                            <p v-for="line in item.detail">{{ line }}</p>
                        </div>
                    </div>
                </section>
            </main>
            <aside class="card" id="contents" v-show="done">
                <h1 onclick="window.scrollTo(0,0);" style="cursor: pointer;">目录</h1>
                <a v-for="(exp, index) in experience" :href="'#sec'+index"> {{ exp.title }} </a>
            </aside>
        </div>
        <footer>
            <a href="/">元卅馆</a>
            <a href="http://www.miit.gov.cn/">冀ICP备17026957号 </a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51010802000387"
                >川公网安备51010802000387号
            </a>
            <div>
                Icons made by
                <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and
                <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect"
                    >Pixel perfect</a
                >
                from
                <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
            </div>
        </footer>

        <script src="js/vue3.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
